<form [formGroup]="loginForm">
  <label for="trainer-name" aria-label="Trainer name"> What's your name</label>
  <input
    id="trainerName"
    name="trainername"
    type="text"
    formControlName="trainerName"
    placeholder="Enter your trainer name"
    required
    minlength="2"
    maxlength="20"
  />
  <div></div>
  <button
    [disabled]="loginForm.invalid || loading"
    type="button"
    (click)="onStartClick()"
  >
    Login Trainer
  </button>
  <button
    [disabled]="loginForm.invalid || loading"
    type="button"
    (click)="onRegisterClick()"
  >
    Register Trainer
  </button>

  <p *ngIf="error">{{ error }}</p>
</form>
